{{#each collection.models}}
    {{!--
        /*
            TODO: Implement active indicator
        */
    --}}
    <li{{#eq id ../active.id}} class="active"{{/eq}}>
        <a class="ellipsis_inline" tabindex="-1" href="#{{buildRoute model=this id=this.id action='dashboard'}}" data-route="#{{buildRoute model=this id=this.id action='dashboard'}}">
            <i class="fa fa-dashboard"></i>{{fieldValue this 'title'}}
        </a>
    </li>
{{/each}}
