/*********************************************************************************
 * This file is part of package Price Books.
 * 
 * Author : Variance InfoTech PVT LTD (http://www.varianceinfotech.com)
 * All rights (c) 2020 by Variance InfoTech PVT LTD
 *
 * This Version of Price Books is licensed software and may only be used in 
 * alignment with the License Agreement received with this Software.
 * This Software is copyrighted and may not be further distributed without
 * written consent of Variance InfoTech PVT LTD
 * 
 * You can contact via email at info@varianceinfotech.com
 * 
 ********************************************************************************/
.modal {
  width: 100%; 
  overflow-y: auto;
  margin-left:50px;
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalFooter{
  padding: 15px;
  text-align: right;
}
.modal-body {
  height:279px;
  border:solid 1px #ddd;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;
}

#priceTable {
	border: 1px solid #ddd;
  width: 100%;max-width: 100%;
}
#priceTable thead tr.listViewHeaders {
  height: 50px;
}

#price_column {
  border: 1px solid #ddd;
  text-align: left;
  padding-left:5px;
}

#pricefirst_column{
  border: 1px solid #ddd;
  width: 27px;
}
.modalBody{
  padding:14px;
  box-sizing: border-box;
  word-wrap: break-word;
}
#checkboxRow{
  border: 1px solid #ddd;
  height: 50px;
}
#listViewEntriesCheckBox{
  margin-left: 5px;
}
.price_value_row{
  border: 1px solid #ddd;
  height: 50px;
  text-align: left;
  padding-left:5px;
}
.relateModuleLink{
  border-bottom-color: #e56455;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}