.minusButton{
	padding-top:10px;
 	padding-left:10px;
}

.priceBooksResult{
	margin-left: 9px;
}
.productHeader{
	padding-left: 3px;
}

#productButton{
	color:#f5f5f5;
	font-size:13px;
}
.column{
	margin-left: 2px;
}
.quantityHeader{
	padding-left:30px;
}
#validMsg{
	color: #f00;
}
.quantityColumn{
	margin-left: 30px;
}
.productNameLabel{
	padding-left: 6px;
}
.priceLabel{
	padding-left: 70px;
}
.listPriceLabel{
	padding-left: 77px;
}
.typeLabel{
	padding-left: 100px;
}
.markLabel{
	padding-left: 90px;
}
.roundLabel{
	padding-left: 58px;
}
.fromQuantity{
	margin-left:172px;
}
.columnWidth{
	width: 15%;
}
#productTable{
	font-size: 12px;
}
.col{
	width:91.3333333333%;
}


