/*********************************************************************************
 * This file is part of package Price Books.
 * 
 * Author : Variance InfoTech PVT LTD (http://www.varianceinfotech.com)
 * All rights (c) 2020 by Variance InfoTech PVT LTD
 *
 * This Version of Price Books is licensed software and may only be used in 
 * alignment with the License Agreement received with this Software.
 * This Software is copyrighted and may not be further distributed without
 * written consent of Variance InfoTech PVT LTD
 * 
 * You can contact via email at info@varianceinfotech.com
 * 
 ********************************************************************************/
/* switch button css */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider.round {
  border-radius: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808f9c;
  -webkit-transition: .4s;
  transition: .4s;
  height: 25px;
  width: 50px;
}
.slider.round:before {
  border-radius: 50%;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #3C8DBC;
}
.slider.round {
  border-radius: 34px;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#enable_price_books{
  margin-top:20px;
}
#slider_round{
  margin-left: 22px;
  margin-top: 14px;
}
.video{
  float: right;
  margin-right: 5px;
}
.contact_us{
  float: right;
  margin-right: 5px;
}
.quick_help{
  float: right;
  margin-right: 5px;
}
.update_license{
  float: right;
  margin-right: 5px;
}
.suite_cont {
  width: 100% !important;
  margin-bottom: 30px;
}
.suitecrm_panel {
  background-color: #f08377;
  color: #ffffff;
  font-size: 16px;
}
.suite_panel_col span {
  word-break: break-all;
  font-size: 12px;
}
.suite_panel_col span a {
  text-decoration: none;
}
.panel-body{
  padding: 11px 5px 5px 11px;
}
.col{
  margin-top: 10px;
}
.update_license{
  float: right;
  margin-right: 5px;
}