
<div>
    <a target="_blank" href="https://www.bisapiens.com/public/file/solution/art-sugarcrm/Comparison_PRO_Basic_Analytic_Reporting_for_SugarCRM.pdf">
        <h5>
            Available in PRO version
        </h5>
    </a>
</div>
