<style>
@import "custom/clients/base/views/analyticreporting/analyticreporting.css";
</style>
{{#if dashletConfig.config.showToolbar}}
<div class="dashlet-options">
    <div class="row-fluid">
        <div class="span4">
            {{#with dashletConfig.config.fields.reportId}}
                {{field ../this model=../this.settings}}
            {{/with}}
        </div>
        <div class="span8">
            <div class="dashlet-group pull-right">
                <button class="btn toggle-control" rel="tooltip" data-control="orientation" title="{{str "LBL_ANALYTIC_REPORTING_DASHLET_OPEN_REPORT"}}"><i class="fa fa-arrow-down"></i></button>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div id="ar-chart{{cid}}" class="ar-chart"></div>

{{#if dashletConfig.config.showFooter}}
<div class="block-footer">
    <a href="{{dashletConfig.config.openReportURL}}{{reportId}}" rel="tooltip" title="{{str "LBL_ANALYTIC_REPORTING_DASHLET_OPEN_REPORT"}}">{{str "LBL_ANALYTIC_REPORTING_DASHLET_OPEN_REPORT"}}</a>
</div>
{{/if}}